In [1]:
import pandas as pd

In [2]:
initial_df=pd.read_csv("game_sales_data.csv", delimiter=",", encoding="utf8", encoding_errors="ignore")
initial_df

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,8.0,7.5,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,8.6,4.7,36.60,2017
...,...,...,...,...,...,...,...,...,...
19595,19594,FirePower for Microsoft Combat Flight Simulator 3,PC,GMX Media,Shockwave Productions,NaN,NaN,0.01,2004
19596,19595,Tom Clancy's Splinter Cell,PC,Ubisoft,Ubisoft,9.4,NaN,0.01,2003
19597,19596,Ashita no Joe 2: The Anime Super Remix,PS2,Capcom,Capcom,NaN,NaN,0.01,2002
19598,19597,Tokyo Yamanote Boys for V: Main Disc,PSV,Rejet,Rejet,NaN,NaN,0.01,2017
19599,19598,NadePro!! Kisama no Seiyuu Yatte Miro!,PS2,GungHo,GungHo Works,NaN,NaN,0.01,2009

In [3]:
initial_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19600 entries, 0 to 19599
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           19600 non-null  int64
 1   Name           19600 non-null  object
 2   Platform       19600 non-null  object
 3   Publisher      19600 non-null  object
 4   Developer      19598 non-null  object
 5   Critic_Score   9969 non-null   float64
 6   User_Score     2223 non-null   float64
 7   Total_Shipped  19600 non-null  float64
 8   Year           19600 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 1.3+ MB

In [4]:
initial_df.dtypes

Rank               int64
Name              object
Platform          object
Publisher         object
Developer         object
Critic_Score     float64
User_Score       float64
Total_Shipped    float64
Year               int64
dtype: object

In [5]:
initial_df.describe()

               Rank  Critic_Score   User_Score  Total_Shipped          Year
count  19600.000000   9969.000000  2223.000000   19600.000000  19600.000000
mean    9798.539133      7.034848     6.994872       0.551123   2007.789949
std     5658.110539      1.558968     1.517038       1.671466      6.326169
min        1.000000      0.800000     1.000000       0.010000   1977.000000
25%     4898.750000      6.100000     6.300000       0.050000   2004.000000
50%     9798.500000      7.300000     7.200000       0.160000   2008.000000
75%    14698.250000      8.200000     8.000000       0.460000   2012.000000
max    19598.000000     10.000000    10.000000      82.900000   2020.000000

In [6]:
initial_df.isnull().sum()

Rank                 0
Name                 0
Platform             0
Publisher            0
Developer            2
Critic_Score      9631
User_Score       17377
Total_Shipped        0
Year                 0
dtype: int64

In [7]:
clean_df=initial_df.dropna(how='any')
clean_df
# After dropping data with incomplete rows, we will then make a reviews table and a sales table

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,8.0,7.5,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,8.6,4.7,36.60,2017
...,...,...,...,...,...,...,...,...,...
19464,19463,Teslagrad,PS4,Rain Games,Rain Games,7.8,6.7,0.01,2014
19496,19495,Sega 3D Classics Collection,3DS,Sega,M2,7.3,7.5,0.01,2016
19507,19506,Happy Birthdays,NS,NIS America,Arc System Works,8.5,7.0,0.01,2018
19525,19524,The Mighty Quest for Epic Loot,PC,Ubisoft,Ubisoft,6.4,5.6,0.01,2015
19583,19582,Super Meat Boy,PS4,Team Meat,Team Meat,8.5,7.0,0.01,2016

In [8]:
reviews_df=clean_df[['Name', 'Critic_Score', 'User_Score']].copy()
reviews_df
# This provides a table with all games but scores are split between platforms. We use groupby below to take the mean scores across all platforms that a game is released on.

                                   Name  Critic_Score  User_Score
0                            Wii Sports           7.7         8.0
1                     Super Mario Bros.          10.0         8.2
2      Counter-Strike: Global Offensive           8.0         7.5
3                        Mario Kart Wii           8.2         9.1
4         PLAYERUNKNOWN'S BATTLEGROUNDS           8.6         4.7
...                                 ...           ...         ...
19464                         Teslagrad           7.8         6.7
19496       Sega 3D Classics Collection           7.3         7.5
19507                   Happy Birthdays           8.5         7.0
19525    The Mighty Quest for Epic Loot           6.4         5.6
19583                    Super Meat Boy           8.5         7.0

[2208 rows x 3 columns]

In [9]:
clean_reviews_df=reviews_df.groupby('Name').mean()
clean_reviews_df

                                         Critic_Score  User_Score
Name
.hack//G.U. Last Recode                           7.6         7.9
428: Shibuya Scramble                             8.5         7.3
7 Days to Die                                     4.0         5.6
7th Dragon III Code: VFD                          7.5         7.9
8-Bit Armies                                      6.9         7.3
...                                               ...         ...
Zombie Vikings                                    6.4         7.0
Zone of the Enders: The 2nd Runner MARS           7.1         7.7
de Blob                                           8.1         8.0
inFAMOUS                                          8.7         9.1
theHunter: Call of the Wild                       6.4         7.4

[1600 rows x 2 columns]

In [10]:
sales_df=clean_df[['Name', 'Platform', 'Publisher', 'Developer', 'Total_Shipped', 'Year' ]]
sales_df
# This provides a table with each game's publishing info and sales. But again, some games released on multiple platforms and need to be combined to take average sales across all.

,Name,Platform,Publisher,Developer,Total_Shipped,Year
0,Wii Sports,Wii,Nintendo,Nintendo EAD,82.90,2006
1,Super Mario Bros.,NES,Nintendo,Nintendo EAD,40.24,1985
2,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,40.00,2012
3,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,37.32,2008
4,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,36.60,2017
...,...,...,...,...,...,...
19464,Teslagrad,PS4,Rain Games,Rain Games,0.01,2014
19496,Sega 3D Classics Collection,3DS,Sega,M2,0.01,2016
19507,Happy Birthdays,NS,NIS America,Arc System Works,0.01,2018
19525,The Mighty Quest for Epic Loot,PC,Ubisoft,Ubisoft,0.01,2015
19583,Super Meat Boy,PS4,Team Meat,Team Meat,0.01,2016

In [11]:
sales_df['Platform_Count']=sales_df.groupby('Name')['Platform'].transform('nunique')
sales_df
# This step adds a new column labeled Platform_Count into the DataFrame that groups by Titles and calculates the number of unique elements for each group back to the original DataFrame
#sales_df.to_csv('test.csv')

C:\Users\awsom\AppData\Local\Temp\ipykernel_2036\707749119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_df['Platform_Count']=sales_df.groupby('Name')['Platform'].transform('nunique')

,Name,Platform,Publisher,Developer,Total_Shipped,Year,Platform_Count
0,Wii Sports,Wii,Nintendo,Nintendo EAD,82.90,2006,1
1,Super Mario Bros.,NES,Nintendo,Nintendo EAD,40.24,1985,1
2,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,40.00,2012,1
3,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,37.32,2008,1
4,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,36.60,2017,1
...,...,...,...,...,...,...,...
19464,Teslagrad,PS4,Rain Games,Rain Games,0.01,2014,2
19496,Sega 3D Classics Collection,3DS,Sega,M2,0.01,2016,1
19507,Happy Birthdays,NS,NIS America,Arc System Works,0.01,2018,1
19525,The Mighty Quest for Epic Loot,PC,Ubisoft,Ubisoft,0.01,2015,1
19583,Super Meat Boy,PS4,Team Meat,Team Meat,0.01,2016,1

In [12]:
sales_df['Total_Shipped_Sum']=sales_df.groupby('Name')['Total_Shipped'].transform('sum')
# This step adds a sum of each titles sales by grouping by name and adding all their Total_Shipped values together

sales_df

C:\Users\awsom\AppData\Local\Temp\ipykernel_2036\224526844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_df['Total_Shipped_Sum']=sales_df.groupby('Name')['Total_Shipped'].transform('sum')

,Name,Platform,Publisher,Developer,Total_Shipped,Year,Platform_Count,Total_Shipped_Sum
0,Wii Sports,Wii,Nintendo,Nintendo EAD,82.90,2006,1,82.90
1,Super Mario Bros.,NES,Nintendo,Nintendo EAD,40.24,1985,1,40.24
2,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,40.00,2012,1,40.00
3,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,37.32,2008,1,37.32
4,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,36.60,2017,1,36.60
...,...,...,...,...,...,...,...,...
19464,Teslagrad,PS4,Rain Games,Rain Games,0.01,2014,2,0.15
19496,Sega 3D Classics Collection,3DS,Sega,M2,0.01,2016,1,0.06
19507,Happy Birthdays,NS,NIS America,Arc System Works,0.01,2018,1,0.01
19525,The Mighty Quest for Epic Loot,PC,Ubisoft,Ubisoft,0.01,2015,1,0.01
19583,Super Meat Boy,PS4,Team Meat,Team Meat,0.01,2016,1,0.01

In [13]:
sales_df=sales_df.sort_values(by='Platform_Count', ascending=False)
# This sorts the DataFrame by descending order of the Platform_Count column; i.e. the highest number of platforms first

sales_df

,Name,Platform,Publisher,Developer,Total_Shipped,Year,Platform_Count,Total_Shipped_Sum
13403,Shovel Knight,XOne,Yacht Club Games,Yacht Club Games,0.08,2015,5,1.58
8857,Shovel Knight,PS4,Yacht Club Games,Yacht Club Games,0.19,2015,5,1.58
4489,Shovel Knight,PC,Yacht Club Games,Yacht Club Games,0.51,2014,5,1.58
6677,Shovel Knight,WiiU,Yacht Club Games,Yacht Club Games,0.30,2014,5,1.58
4573,Shovel Knight,3DS,Yacht Club Games,Yacht Club Games,0.50,2015,5,1.58
...,...,...,...,...,...,...,...,...
5368,Jamestown: Legend of the Lost Colony,PC,Unknown,Final Form Games,0.41,2011,1,0.41
5335,TERA,PC,Unknown,En Masse,0.42,2011,1,0.42
5301,Broken Age,PC,Double Fine Productions,Double Fine Productions,0.42,2013,1,0.42
5260,Ragnarok Odyssey,PSV,Xseed Games,Game Arts,0.42,2012,1,0.42
19583,Super Meat Boy,PS4,Team Meat,Team Meat,0.01,2016,1,0.01

In [14]:
sales_df=sales_df.drop_duplicates(subset='Name', keep='first')
# This drops duplicates found within the Title column, specifying to keep 
# only the first occurence which we have set to be the game with the highest platform count

sales_df

,Name,Platform,Publisher,Developer,Total_Shipped,Year,Platform_Count,Total_Shipped_Sum
13403,Shovel Knight,XOne,Yacht Club Games,Yacht Club Games,0.08,2015,5,1.58
3413,Wolfenstein II: The New Colossus,XOne,Bethesda Softworks,MachineGames,0.70,2017,4,2.72
14362,Okami HD,XOne,Capcom,Clover Studio,0.06,2017,4,0.62
14999,Resident Evil 4,XOne,Capcom,Capcom,0.05,2016,4,4.45
14701,Mighty No. 9,WiiU,Deep Silver,Comcept,0.05,2016,4,0.32
...,...,...,...,...,...,...,...,...
5368,Jamestown: Legend of the Lost Colony,PC,Unknown,Final Form Games,0.41,2011,1,0.41
5335,TERA,PC,Unknown,En Masse,0.42,2011,1,0.42
5301,Broken Age,PC,Double Fine Productions,Double Fine Productions,0.42,2013,1,0.42
5260,Ragnarok Odyssey,PSV,Xseed Games,Game Arts,0.42,2012,1,0.42
19583,Super Meat Boy,PS4,Team Meat,Team Meat,0.01,2016,1,0.01

In [15]:
sales_df=sales_df.drop(columns=['Platform', 'Total_Shipped'])
# Drop the platform and Total_shipped column

In [16]:
sales_df.rename(columns={'Total_Shipped_Sum':'Games_Sold'}, inplace=True)
# Renaming sum column to games_sold

In [17]:
sales_df.reset_index(drop=True, inplace=True)
# Reset index after dropping rows
sales_df=sales_df.set_index("Name", drop=True)
# Set index to Name column for SQL import
sales_df

,Publisher,Developer,Year,Platform_Count,Games_Sold
Name,,,,,
Shovel Knight,Yacht Club Games,Yacht Club Games,2015,5,1.58
Wolfenstein II: The New Colossus,Bethesda Softworks,MachineGames,2017,4,2.72
Okami HD,Capcom,Clover Studio,2017,4,0.62
Resident Evil 4,Capcom,Capcom,2016,4,4.45
Mighty No. 9,Deep Silver,Comcept,2016,4,0.32
...,...,...,...,...,...
Jamestown: Legend of the Lost Colony,Unknown,Final Form Games,2011,1,0.41
TERA,Unknown,En Masse,2011,1,0.42
Broken Age,Double Fine Productions,Double Fine Productions,2013,1,0.42
Ragnarok Odyssey,Xseed Games,Game Arts,2012,1,0.42
Super Meat Boy,Team Meat,Team Meat,2016,1,0.01

In [20]:
sorted_sales=sales_df.sort_values(by='Games_Sold', ascending=False)
sorted_sales

,Publisher,Developer,Year,Platform_Count,Games_Sold
Name,,,,,
Wii Sports,Nintendo,Nintendo EAD,2006,1,82.90
Grand Theft Auto V,Rockstar Games,Rockstar North,2014,4,61.03
Super Mario Bros.,Nintendo,Nintendo EAD,1985,1,40.24
Counter-Strike: Global Offensive,Valve,Valve Corporation,2012,1,40.00
Mario Kart Wii,Nintendo,Nintendo EAD,2008,1,37.32
...,...,...,...,...,...
Brawlout,Merge Games,Angry Mob Games,2018,1,0.01
Sengoku,Paradox Interactive,Paradox Interactive,2011,1,0.01
Max: The Curse of Brotherhood,Wired Productions,Stage Clear Studios,2018,1,0.01
Flipping Death,Rising Star,Zoink Games,2018,1,0.01
Super Meat Boy,Team Meat,Team Meat,2016,1,0.01

In [21]:
clean_sales_df=sales_df.copy()
clean_sales_df

,Publisher,Developer,Year,Platform_Count,Games_Sold
Name,,,,,
Shovel Knight,Yacht Club Games,Yacht Club Games,2015,5,1.58
Wolfenstein II: The New Colossus,Bethesda Softworks,MachineGames,2017,4,2.72
Okami HD,Capcom,Clover Studio,2017,4,0.62
Resident Evil 4,Capcom,Capcom,2016,4,4.45
Mighty No. 9,Deep Silver,Comcept,2016,4,0.32
...,...,...,...,...,...
Jamestown: Legend of the Lost Colony,Unknown,Final Form Games,2011,1,0.41
TERA,Unknown,En Masse,2011,1,0.42
Broken Age,Double Fine Productions,Double Fine Productions,2013,1,0.42
Ragnarok Odyssey,Xseed Games,Game Arts,2012,1,0.42
Super Meat Boy,Team Meat,Team Meat,2016,1,0.01

In [22]:
clean_sales_df.dtypes

Publisher          object
Developer          object
Year                int64
Platform_Count      int64
Games_Sold        float64
dtype: object

In [23]:
clean_reviews_df.to_csv('reviews.csv', index=True)
clean_sales_df.to_csv('sales.csv', index=True)